@import (less) './colors.less';
@import (less) './helpers.less';

@slidepadding: 50px;

/**
 * Fonts
 */
@font-face {
  font-family: Montserrat-Regular;
  src: url(/slider/assets/fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: Montserrat-Bold;
  src: url(/slider/assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Lato-Light;
  src: url(/slider/assets/fonts/Lato-Light.ttf);
}

@font-face {
  font-family: Lato-Thin;
  src: url(/slider/assets/fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: Lato-Regular;
  src: url(/slider/assets/fonts/Lato-Regular.ttf);
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

/**
 * Slides properties
 */
.slides() {
  font-family: Lato-Regular;

  min-height: 100%;
  padding-left: @slidepadding;
  padding-right: @slidepadding;
  font-size: 62.5%;

  h1, h2, h3 {
    font-family: Montserrat-Regular;
    margin: 0;
    padding: 20px;
  }

  h1 {
    font-size: 8em;
  }

  h2 {
    font-size: 6em;
  }

  h3 {
    font-size: 5em;
  }

  p, li {
    font-size: 1.6rem;
    margin-top: 0;
  }

  code {
    font-size: 1.2em;
    text-align: left;
    color: black;
  }

  p.lead {
    font-size: 1.8rem;
  }

  .well {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #DDD;
    display: inline-block;
    padding: 10px;
    text-align: left;
    color: #313131;
  }

  .block {
    h1, h2, h3 {
      margin-bottom: 20px;
    }

    p {
      margin-bottom: 15px;
    }
  }

  .btn {
    padding: 5px 10px;
    text-decoration: none;
    border: 0;
    border-radius: 2px;
    font-family: inherit;
  }

  .btn-primary {
    color: white;
    background-color: @blue-primary;
  }

}

/**
 * Slides themes
 */
.slide-content-dark {
  color: #313131;
}

.slide-content-white {
  color: white;
}

.slide-red-primary {
  .slides;
  .slide-content-white;
  background-color: @red-primary;
}

.slide-pink-primary {
  .slides;
  .slide-content-white;
  background-color: @pink-primary;
}

.slide-purple-primary {
  .slides;
  .slide-content-white;
  background-color: @purple-primary;
}

.slide-deeppurple-primary {
  .slides;
  .slide-content-white;
  background-color: @deeppurple-primary;
}

.slide-indigo-primary {
  .slides;
  .slide-content-white;
  background-color: @indigo-primary;
}

.slide-blue-primary {
  .slides;
  .slide-content-white;
  background-color: @blue-primary;
}

.slide-lightblue-primary {
  .slides;
  .slide-content-white;
  background-color: @lightblue-primary;
}

.slide-cyan-primary {
  .slides;
  .slide-content-white;
  background-color: @cyan-primary;
}

.slide-teal-primary {
  .slides;
  .slide-content-white;
  background-color: @teal-primary;
}

.slide-green-primary {
  .slides;
  .slide-content-white;
  background-color: @green-primary;
}

.slide-lightgreen-primary {
  .slides;
  .slide-content-white;
  background-color: @lightgreen-primary;
}

.slide-lime-primary {
  .slides;
  .slide-content-white;
  background-color: @lime-primary;
}

.slide-yellow-primary {
  .slides;
  .slide-content-white;
  background-color: @yellow-primary;
}

.slide-amber-primary {
  .slides;
  .slide-content-dark;
  background-color: @amber-primary;
}

.slide-orange-primary {
  .slides;
  .slide-content-white;
  background-color: @orange-primary;
}

.slide-deeporange-primary {
  .slides;
  .slide-content-white;
  background-color: @deeporange-primary;
}

.slide-brown-primary {
  .slides;
  .slide-content-white;
  background-color: @brown-primary;
}

.slide-grey-primary {
  .slides;
  .slide-content-dark;
  background-color: @grey-primary;
}

.slide-greyblue-primary {
  .slides;
  .slide-content-dark;
  background-color: @greyblue-primary;
}

/**
 * Animations
 */
 [ui-view]{
  height: 100vh;
 }

 [ui-view].ng-enter, [ui-view].ng-leave {
   position: absolute;
   left: 0;
   right: 0;
   -webkit-transition:all .5s ease-in-out;
     -moz-transition:all .5s ease-in-out;
     -o-transition:all .5s ease-in-out;
     transition:all .5s ease-in-out;
 }

 [ui-view].ng-enter {
   opacity: 0;
 }

 [ui-view].ng-enter-active {
   opacity: 1;
 }

 [ui-view].ng-leave {
   opacity: 1;
 }

 [ui-view].ng-leave-active {
   opacity: 0;
 }
