<html ng-app="remote" ng-controller="RemoteCtrl">
  <head>
    <title>Slider</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet/less" type="text/css" href="remote/app.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  </head>
  <body hm-swiperight="previous()" hm-swipeleft="next()">
    <div class="slider-container slide-grey-primary">
      <div class="container">
        <div class="col-xs-12 col-md-3">
          <div class="col-xs-12 text-center form-group">
            <h1>Slide {{current}} / {{total}}</h1>
            <button class="btn btn-primary btn-lg" ng-click="previous()">Previous</button>
            <button class="btn btn-primary btn-lg" ng-click="next()">Next</button>
          </div>
          <div class="col-xs-12 text-center form-group">
            <h2><timer ng-click="toggleTimer()" autostart="false" timer-start="timer-start" timer-stop="timer-stop">{{hhours}}:{{mminutes}}:{{sseconds}}</timer></h2>
            <button class="btn btn-primary btn-lg" ng-init="trunning = false" ng-click="trunning = !trunning;toggleTimer()">
              <span ng-if="trunning">Stop</span>
              <span ng-if="!trunning">Start</span>
          </div>
        </div>
        <div class="col-xs-12 col-md-9">
          <p class="text-muted" ng-if="!note && !noteMD"><em>No note for the current slide.</em></p>
          <span ng-if="note">
            <div btf-markdown="note"></div>
          </span>
          <span ng-if="noteMD">
            <div btf-markdown ng-include="noteMD"
          </span>
        </div>
      </div>

    <script src="bower_components/less.js/dist/less.min.js"></script>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/hammerjs/hammer.min.js"></script>
    <script src="bower_components/showdown/compressed/Showdown.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-markdown-directive/markdown.js"></script>
    <script src="bower_components/angular-timer/dist/angular-timer.min.js"></script>
    <script src="bower_components/ryanmullins-angular-hammer/angular.hammer.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>

    <script src="remote/app.js"></script>
  </body>
</html>
